@model LILI_TMS.Models.TblDepartment


<div id="modal-placeholder">
    @{
        var message = TempData["msg"].ToString();
        if (!string.IsNullOrEmpty(message))
        {
            <script>
            alert("@message");
            </script>
        
        }
    }

</div>



<!-- Content Header (Page header) -->
<section class="content-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="/DepartmentSetup/Index">Department Setup Information</a></li>
        <li class="breadcrumb-item active">Add Department Setup Information</li>
        </ol>
 
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="row">
        <div class="col-12">
    <div class="card" style="border:1px solid; border-color:cadetblue; padding:10px">

                <form class="form-horizontal" asp-controller="DepartmentSetup" method="post" asp-action="CreateDepartmentSetup">
           
            <div class="card-body">


                <div class="form-group">
                            <label for="TypeCode" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">

                                <select asp-for="TypeCode" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfDepartmentType,"TypeCode","TypeName"))" required></select>


                        </select>
                                <span asp-validation-for="TypeCode"></span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="form-outline">
                                <label for="ToolCode" class="col-sm-2 control-label">Department Code</label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="DepartmentCode" class="form-control" placeholder="" readonly>
                                    <span asp-validation-for="DepartmentCode"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-outline">
                        <label for="ToolName" class="col-sm-2 control-label">Department Name</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="DepartmentName" class="form-control" placeholder="" >
                            <span asp-validation-for="DepartmentName"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                <div class="form-outline">
                        <label for="ToolName" class="col-sm-2 control-label">Comments</label>
                        <div class="col-sm-10">
                            <textarea asp-for="Comments" class="form-control" placeholder="Comments"></textarea>
                            <span asp-validation-for="Comments"></span>
                </div>
                </div>
               </div>
            </div>


            <!-- /.box-body -->
            <div class="card-footer">

                        <a class="btn btn-mini btn-primary" href='@Url.Content("/DepartmentSetup/Index")'>Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>

            </div>
            <!-- /.box-footer -->
        </form>
    </div>

    </div>
    </div>
    <!-- /.box -->
</section>




<script type="text/javascript">


    
</script>
